<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <h1>File uploader</h1>
        <% if (loggedIn) { %>
            <p>Hello <%= user %>! <a href="/logout">Logout</a></p><br>
            <button><a href="/uploadFile">Upload a file</a></button>
        <% } else { %>
            <h2>Please log in or create an account</h2>
            <nav class="links">
                <a href="/signup">Sign up</a><br>
                <a href="/login">Login</a>
            </nav>
        <% } %>
    </body>
</html>