<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
    </head>
    <body>
        <%
            function fieldErrors(name) {
                if (!errors) return [];
                return errors.filter(e => e.path === name);
            }
        %>
        <h1>Create an account</h1>
        <a href="/">Back to homepage</a>
        <form action="/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= old?.['username'] || '' %>">
            <% fieldErrors('username').forEach(e => { %>
                <div class="field-error" style="color: red;"><%= e.msg %></div>
            <% }) %><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <% fieldErrors('password').forEach(e => { %>
                <div class="field-error" style="color: red;"><%= e.msg %></div>
            <% }) %><br>

            <label for="confirmPass">Confirm Password:</label>
            <input type="password" id="confirmPass" name="confirmPass">
            <% fieldErrors('confirmPass').forEach(e => { %>
                <div class="field-error" style="color: red;"><%= e.msg %></div>
            <% }) %><br>

            <button type="submit">Sign up!</button>
        </form>
    </body>
</html>