.rename-popup, .delete-popup, 
.new-folder-popup, .upload-popup,
.rename-file-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.active { 
    display: block;
}

button:hover {
    cursor: pointer;
} 