#title, #greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folders-container {
    h3 {
        font-size: xx-large;
    }

    button {
        width: 100px;
        height: 40px;
    }

    button:hover {
        cursor: pointer;
    }
}