body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#title, #greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logged-in {
    width: 100%;
}

.folders-container {
    h3 {
        font-size: xx-large;
    }

    button {
        width: 100px;
        height: 40px;
    }

    button:hover {
        cursor: pointer;
    }
}

.not-logged-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 30%;
    background-color: #e2e2e2;
    border-radius: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;

    button {
        padding: 10px;
    }

    button:hover {
        cursor: pointer;
    }
}