body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;

    label, input {
        height: 20px; 
    }

    button {
        width: 100px;
        height: 40px;
    }
}